@font-face {
    font-family: 'PlusJakartaSans-Regular.woff2';
    src: url('../fonts/PlusJakartaSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'PlusJakartaSans-Medium.woff2';
    src: url('../fonts/PlusJakartaSans-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'PlusJakartaSans-SemiBold.woff2';
    src: url('../fonts/PlusJakartaSans-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    
}
@font-face {
    font-family: 'PlusJakartaSans-Bold.woff2';
    src: url('../fonts/PlusJakartaSans-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}




@font-face {
    font-family: 'Raleway-Medium.woff2';
    src: url('../fonts/Raleway-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-SemiBold.woff2';
    src: url('../fonts/Raleway-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-Bold.woff2';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}


@font-face {
    font-family: 'DXLubavaOTF.woff2';
    src: url('../fonts/DXLubavaOTF.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'DXLubavaOTF.woff2';
    src: url('../fonts/DXLubavaOTF.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}


