@mixin fluid-text($max: 55, $min: 13) {
    font-size: clamp(#{$min}px, #{calc($max / 1440 * 100)}vw, #{$max}px);
}

@mixin flex-set-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flex-set-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin big-title{
    color: $dark;
    @include fluid-text(48, 35);
    font-weight: 700;
    line-height: 46px;
}
@mixin small-title{
    color: $dark;
    @include fluid-text (32, 25);
    font-weight: 700;
    line-height: 44.8px;
}

@mixin subtitle {
    color: rgb(126, 126, 126);
    @include fluid-text(18, 16);
    font-weight: 500;
    line-height: 32.4px;
}
@mixin size-list-title {
    display: block;
    color: $dark;
    @include fluid-text(20, 16);
    font-weight: 700;
    line-height: 28px;
}

@mixin size-text {
    color: $lait-sizeGrey;
    @include fluid-text(16, 14);
    font-weight: 500;
    line-height: 28.8px;
}

@mixin size-min-ttile {
    color: $dark;
    @include fluid-text(24, 20);
    font-weight: 700;
    line-height: 33.6px;
    margin: 0;
}

