

$container-width:1420px;
$width-max:1920px;

$laptop-l-plus:1420px;
$laptop-l:1200px;
$laptop:1100px;
$tablet:767px;
$big-mobile:490px;
$small-mobil:320px;

$font-family-base: 'PlusJakartaSans', sans-serif;
$font-family-base-two:'Raleway', sans-serif;



$line-gradient:linear-gradient(270.00deg, rgb(219, 244, 226) 6.75%, rgb(246, 253, 236) 98.85%);
$dark: rgb(0, 0, 0);
$dark-light: rgba(0, 0, 0, 0.911);
$dark-shadow:rgba(0, 0, 0, 0.13);
$white:rgb(255, 255, 255);
$lait-gray:rgba(155, 155, 155, 0.384);
$lait-gray-visible:rgb(155, 155, 155);
$lait-sizeGrey:rgb(126, 126, 126);
$yltra-light-gray:rgb(245, 245, 245);
$menu-beg: #F5F5F5;
$green-color: rgb(46, 187, 119);
$dark-green: rgb(20, 150, 87);
$bronw-btn:rgb(215, 169, 131);
$pink:rgb(180, 121, 217);
$pink-dark:rgba(180, 121, 217, 0.15);




