@import 'fonts',
'mixin',
'normolazy',
'variables';


html {
    font-family: $font-family-base;
    font-family: $font-family-base-two;
    overflow-x: hidden;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;

    &__section-one {
        background: $line-gradient;
        margin: auto;
    }

    &__delivery {
        padding: 0 10px;
        max-width: $container-width;
        width: 100%;
        height: 60px;
        margin: auto;
        @include flex-set-center;
        gap: 20px;
    }

    &__logo_visible-768 {
        display: none;
    }

    &__price {
        color: $dark;
        @include fluid-text(18, 14);
        font-weight: 700;
        line-height: 25.2px;
    }

    &__btn {

        @include fluid-text(15, 12);
        font-weight: 700;
        background-color: $white;
        border: none;
        border-radius: 7px;
        padding: 0;


        a {
            display: inline-block;
            padding: 10px 35px;
        }
    }

    &__section-two {
        background-color: $white;
        max-width: $width-max;
        width: 100%;
        margin: auto;
    }

    &__content {
        padding: 0 10px;
        min-height: 100px;
        @include flex-set-between;
    }

    &__user-block {
        @include flex-set-between;
        gap: 30px;
    }

    &__btn-inner {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__btn-inner-tel {
        display: flex;
        gap: 30px;
    }

    &__basket {
        @include flex-set-center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: none;
        background-color: $yltra-light-gray;
    }

    &__burger {
        display: none;
        opacity: 0;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 100;

        span {
            position: absolute;
            top: calc(50% - 1px);
            left: 0%;
            width: 100%;
            height: 2px;
            background-color: $dark;
            border-radius: 10px;
            transition: all 0.5s;

            &:first-child {
                top: 0;
            }

            &:last-child {
                top: auto;
                bottom: 0;
            }
        }
    }


    &__registration {
        background-color: $dark;
        border-radius: 12px;
        border: none;
        padding: 0;

        &:hover {
            background-color: $dark-light;
        }

        a {
            display: inline-block;
            color: $white;
            padding: 15px 36px;
            font-size: 15px;
            font-weight: 700;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    position: relative;
    left: 145px;

    &__list {
        display: flex;
        position: relative;

    }

    &__list-item {
        min-width: 90px;
        justify-content: center;
    }

    &__submenu {
        background-color: $white;
        position: absolute;
    }

    &__submenu-list-item {
        border-bottom: 1px solid $dark;
        min-width: 90px;
    }
}

.ac {
    margin-top: 0;
    border: none;
    background-color: transparent;
}

.ac .ac-trigger {
    text-align: center;

    &::after {
        content: url('../images/dist/Vector-row-black.svg');
    }

    &_green {
        color: $green-color;

        &::after {
            content: url('../images/dist/Vector-row-green.svg');
        }
    }
}

.serch {
    &__text {
        width: 0;
        opacity: 0;
    }
}

.number {

    & p {
        color: $lait-gray;
        @include fluid-text(14, 12);
        font-weight: 700;
        line-height: 19.6px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 6px;
    }

    & a {
        color: $dark;
        @include fluid-text(18, 16);
        font-weight: 700;
        line-height: 32.4px;
    }
}

.container {
    max-width: $container-width;
    margin: auto;
    padding: 0 10px;
}

.button {
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    background-color: $green-color;
    padding: 0;
}

// MAIN====

.printing {
    &__container {
        display: flex;
        gap: 20px;
    }

    &__content {
        max-width: 40%;
    }

    &__btn {
        background-color: $pink-dark;
        border: none;
        border-radius: 40px;
        padding: 9px 18px;
        margin-top: 73px;

        a {
            color: $pink;
            @include fluid-text(18, 16);
            font-weight: 700;
            line-height: 25.2px;
        }
    }

    & h1 {
        color: $dark;
        @include fluid-text(68, 45);
        font-weight: 700;
        line-height: 81.6px;
        margin-top: 20px;
    }

    &__description {
        @include subtitle;
        margin-top: 36px;
    }

    &__inner-btn {
        margin-top: 40px;
    }

    &__button {
        padding: 0;
        position: relative;

        &:hover {
            background-color: $dark-green;
        }

        a {
            display: inline-block;
            color: $white;
            padding: 15px 53px 15px 25px;
        }

        &::after {
            content: url('../images/dist/Vector-hite-row.svg');
            position: absolute;
            z-index: 2;
            top: 21px;
            right: 30px;
        }
    }

    &__button-white {
        background-color: transparent;
        position: relative;

        &:hover {
            background-color: $yltra-light-gray;
        }

        a {
            display: inline-block;
            padding: 15px 50px 15px 25px;
            color: $dark;
        }

        span {
            position: absolute;
            display: inline-block;
            width: 29px;
            height: 29px;
            border: 2px solid $dark;
            border-radius: 50%;
            right: 13px;
            top: 13px;
        }

        &::after {
            content: url('../images/dist/Vector-oN.svg');
            position: absolute;
            z-index: 2;
            right: 26px;
            top: 15px;
        }
    }

    &__inner-statistics {
        margin-top: 54px;
        display: flex;
        justify-items: center;

        p {
            margin: 0;
        }
    }

    &__line {
        top: 13px;
        display: inline-block;
        width: 1px;
        height: 61px;
        background-color: grey;
    }

    &__collections,
    &__deliver {
        p {
            color: $dark;
            @include fluid-text(48, 35);
            font-weight: 700;
            line-height: 48px;

            &>span {
                color: $lait-sizeGrey;
                font-size: 18px;
                font-weight: 500;
                line-height: 32.4px;
            }
        }
    }

    &__collections {
        max-width: 136px;
    }

    &__deliver {
        padding-left: 40px;
        max-width: 235px;
    }

    &__image {
        margin-top: 15px;
        margin-bottom: 20px;
    }
}

.brand {
    background-color: $yltra-light-gray;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 27px;
        padding-top: 112px;
        padding-bottom: 98px;

        h2 {
            text-align: center;
            @include size-min-ttile;
        }
    }

    &__partner {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        gap: 20px;

        &:hover {
            padding: 10px;
        }
    }
}

.create {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 85px;
        margin-bottom: 143px;
    }

    &__description {
        max-width: 48%;
        text-align: center;

        h2 {
            color: $dark;
            @include fluid-text(40, 35);
            font-weight: 700;
            line-height: 46px;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            @include subtitle;
        }
    }

    &__section-desc {
        display: flex;
        gap: 90px;
        align-items: center;
        justify-content: center;

        &_two {
            &>p {
                order: -1;
            }
        }

        &>p {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            box-shadow: 0px 7px 30px 0px $dark-shadow;
            background: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;

            color: $dark;
            @include fluid-text (18, 16);
            font-weight: 700;
            line-height: 56px;
        }
    }

    &__content-text {
        max-width: 34%;
        @include subtitle;

        &_two {
            order: -2;
        }

        h3 {
            @include small-title;
            margin: 0 0 14px 0;
        }

    }

}

.ideas {
    background-color: $yltra-light-gray;

    &__container {
        display: flex;
        gap: 115px;
        align-items: center;
        padding-top: 96px;
        padding-bottom: 77px;
    }

    &__inner {
        max-width: 37%;

        h2 {
            @include big-title;
            margin: 0 0 19px 0;
        }

        p {
            @include subtitle;
            max-width: 96%;
        }
    }

    &__btn {

        &:hover {
            background-color: $dark-green;
        }

        a {
            display: block;
            color: $white;
            padding: 15px 45px;
        }
    }
}

.t-shirt-printing {
    background-color: $yltra-light-gray;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            @include big-title;
            margin: 35px 0 20px 0;
        }

        p {
            @include subtitle;
            text-align: center;
            max-width: 50%;
            margin-bottom: 65px;
        }
    }

    &__wrapper {
        display: flex;
        margin-bottom: 15px;
    }

    &__list-item {
        margin-bottom: 68px;

        &:first-child {
            margin-bottom: 37px;
        }

        &:nth-child(2) {
            margin-bottom: 51px;
        }

        &_bg-white {
            background-color: $white;
            padding: 30px 0px 30px 30px;
            border-radius: 12px;
            position: relative;
            left: -36px;
            width: 106%;
            overflow: hidden;
            animation-name: modified-block;
            animation-iteration-count: infinite;
            animation-duration: 3s;
            animation-direction: alternate;
            animation-timing-function: ease-out;

            a {
                width: 260px;
                min-width: 260px;
            }

            p {
                width: 412px;
                min-width: 412px;
                margin: 0px;
            }

            &:hover {
                animation: none;
            }

            @keyframes modified-block {
                from {
                    width: 4%;
                }

                50% {
                    box-shadow: 15px 15px 10px rgb(219, 244, 226);
                }

                to {
                    width: 106%;
                }
            }
        }

        a {
            @include size-list-title;
        }

        p {
            @include size-text;
            max-width: 100%;
            text-align: start;
            margin-top: 20px;
        }
    }

    &__image {
        max-width: 911px;
        width: 111%;
    }
}


.collection {
    &__container {
        height: 100%;
        position: relative;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            @include big-title;
            margin-top: 92px;
        }

        p {
            @include subtitle;
            text-align: center;
            margin: 20px 0 65px 0;
            max-width: 50%;
        }
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.swiper-desc {
    &_green-size {
        color: $green-color;
    }

    h4 {
        color: $dark;
        font-size: 18px;
        font-weight: 700;
        line-height: 25.2px;
        text-align: center;
    }

    p {
        font-size: 16px;
        font-weight: 700;
        line-height: 28.8px;
        text-align: center;

        span {
            color: $lait-gray-visible;
            font-size: 13.6px;
            font-weight: 500;
            line-height: 24.48px;
            text-align: center;
            text-decoration-line: line-through;
        }
    }
}

.color__inner {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-bottom: 72px;
    margin-top: 15px;

    a {
        display: inline-block;
        color: $dark;
        font-size: 14px;
        font-weight: 500;
        line-height: 25.2px;
    }

    div {
        width: 20px;
        height: 20px;
        background-color: $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(238, 238, 238);

        & .color-dark {
            background-color: $bronw-btn;
        }

        span {
            display: block;
            content: '';
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: $dark;
        }
    }
}


.templates {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 91px;
    }

    &__block {
        max-width: 685px;
        width: 100%;
        border-radius: 12px;
    }

    &__inner {
        padding: 57px 0 67px 41px;
        max-width: 47%;

        h3 {
            @include small-title;
        }

        p {
            @include subtitle;
        }
    }

    &__btn {
        position: relative;
        padding: 0;

        &:hover {
            background-color: $dark-green;
        }

        a {
            display: inline-block;
            padding: 15px 50px 15px 25px;
            color: $white;
        }

        &::after {
            content: url('../images/dist/Vector-hite-row.svg');
            position: absolute;
            z-index: 2;
            top: 42%;
            left: 73%;
        }
    }
}

.tee-space {
    position: relative;

    &__bacround-figur {
        position: absolute;
        z-index: 1;
        max-width: 400px;
        width: 100%;
        height: 324px;
        background-color: $yltra-light-gray;
        clip-path: polygon(100% 32%, 0 0%, 0 100%);
    }

    &__wrapper {
        background-image: linear-gradient($white 31%, $yltra-light-gray 31%);
    }

    &__container {
        display: flex;
        gap: 30px;
    }

    &__block-one {
        max-width: 40%;
        margin-top: 150px;
        z-index: 5;

        h2 {
            @include big-title;
            line-height: 60px;
            margin-bottom: 30px;
        }

        p {
            @include subtitle;
            max-width: 60%;
        }
    }

    &__block-card {
        margin: 36px 0 111px 0;
    }

    &__list {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 0.35fr);
        margin-bottom: 50px;
        z-index: 5;
    }

    &__list-item {
        background-color: $white;
        padding: 34px 21px 34px 30px;
        box-shadow: 0px 0px 10px 0px $dark-shadow;
        border-radius: 12px;

        &:nth-last-child(2) {
            h4 {
                margin: 40px 0 21px 0;
            }
        }

        h4 {
            @include size-list-title;
            margin: 28px 0 21px 0;

        }

        p {
            @include size-text;
        }

    }

    &__booking {
        width: 100%;
        padding: 41px 0 44px 50px;
        border-radius: 12px;

        h3 {
            @include size-min-ttile;
        }

        p {
            @include subtitle;
            margin: 21px 0 35px 0;
        }
    }

    &__btn {
        position: relative;

        &:hover {
            background-color: $dark-green;
        }

        a {
            display: inline-block;
            padding: 15px 50px 15px 25px;
            color: $white;
        }

        &::after {
            content: url('../images/dist/Vector-hite-row.svg');
            position: absolute;
            z-index: 2;
            top: 41%;
            left: 79%;
        }
    }
}

.resources {
    &__container {}

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            @include big-title;
            line-height: 60px;
            margin: 92px 0 19px 0
        }

        p {
            @include subtitle;
            max-width: 60%;
            text-align: center;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 83px 0;
    }

    &__services {
        position: relative;
        display: flex;
        gap: 30px;
    }

    &__descr {
        max-width: 330px;

        h3 {
            @include size-min-ttile;
            margin: 16px 0 22px 0;
        }

        p {
            @include subtitle;

            span {
                color: $dark;
            }
        }
    }

    &__btn-inner {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    &__user-inner {
        display: flex;
        gap: 16px;

        img {
            width: 60px;
            height: 60px;
        }
    }

    &__btn {
        padding: 0;
        border: none;
        border-radius: 40px;

        a {
            padding: 6px 12px;
            background-color: $yltra-light-gray;
            color: $green-color;
            border-radius: 40px;

            font-size: 14px;
            font-weight: 600;
            line-height: 25.2px;

            &:hover {
                color: $dark-green;
            }
        }
    }
}

.user-comments {

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            @include big-title;
            line-height: 60px;
            margin: 35px 0 20px 0;
        }

        p {
            @include subtitle;
        }
    }

    &__avatar {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

        img {
            max-width: 80px;
            width: 100%;
            margin-right: 24px;
        }

        p {
            margin: 11px 5px 0 0;
            @include subtitle;

            span {
                color: $dark;
                font-size: 18px;
                font-weight: 700;
                line-height: 25.2px;
            }
        }
    }

    &__inner {
        display: flex;
    }
}

.mySwiper-two {
    margin: 69px 0 100px 0;
}

.swiper-wrapper {
    &_flex {
        display: flex;
        justify-content: space-between;
    }
}

.swiper-slide_two {
    padding-bottom: 80px;
}

.swiper-user-card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    padding: 49px 60px 46px 40px;
    margin: 5px;

    &>p {
        color: $dark;
        @include fluid-text(20, 16);
        font-weight: 500;
        line-height: 36px;
        text-align: start;
    }
}

.swiper-pagination {
    position: absolute;
    top: 50px;
    left: 0;
}



.movement {
    position: relative;
    background-color: rgba(180, 121, 217, 0.15);
    overflow: hidden;

    &__img-inner {
        position: absolute;
        z-index: 2;

        &_one {
            top: -47px;
            left: 80px;
        }

        &_two {
            bottom: 81px;
            left: -33px;
        }

        &_free {
            bottom: 43px;
            left: 403px;
        }

        &_four {
            bottom: 0;
            right: 308px;
        }

        &_five {
            top: 162px;
            right: -20px;
        }

        &_six {
            top: -35px;
            right: 288px;
        }
    }

    &__container {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;


        h2 {
            @include big-title;
            line-height: 60px;
            text-align: center;
            max-width: 42%;
            margin-top: 130px;
        }

        p {
            @include subtitle;
        }
    }

    &__button {
        padding-bottom: 150px;

        button {
            padding: 0;
            border: none;

            span {
                background-color: $white;

            }
        }

        a {
            display: inline-block;
            padding: 15px 25px;
            color: $white;
        }
    }

    &__btn {
        &:last-child {
            margin-left: 20px;
        }

        &_white {
            background-color: $white;

            a {
                color: $dark;
            }
        }
    }
}

.social {
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 32px 0;
        background-color: $white;

        a {
            color: $dark;
           @include fluid-text(18,16);
            font-weight: 700;
            line-height: 32.4px;
            transition: .1s;
            &:hover{
                border-bottom: 4px solid $green-color;
            }
        }
    }
}








@media screen and (max-width:$laptop-l-plus) {

    // HEADER====
    .header {
        &__user-block {
            gap: 10px;
        }

        &__btn-inner-tel {
            gap: 10px;
        }
    }

    .menu {
        left: 0;
        z-index: 30
    }

    // ================TEE-SPACE==============================
    .tee-space__block-one {
        max-width: 30%;
    }

    .tee-space__list {
        grid-template-columns: repeat(3, 1fr);
    }

    // =============RESOURCES====================
    .resources__wrapper {
        justify-content: center;
        gap: 30px;
    }

    // ============movement=====================
    .movement {
        &__img-inner_free {
            display: none;
        }

        &__img-inner_four {
            bottom: -41px;
            right: 308px;
        }

        &__img-inner_six {
            top: -51px;
            right: 288px;
        }
    }

}

@media screen and (max-width:$laptop-l) {

    // HEADER====
    .menu__list {
        gap: 0;
    }

    .header__btn-inner-tel {
        gap: 15px;
    }

    // IDEAS===
    .ideas__container {
        gap: 70px;
    }

    // T-SHIRT-PRINTING===

    .t-shirt-printing__list-item_bg-white {
        position: static;
        width: 100%;
        padding: 30px 10px 30px 30px;
    }

    // ============movement=====================
    .movement__img-inner_one {
        top: -47px;
        left: 16px;
    }

}

@media screen and (max-width:$laptop) {

    // HEADER====
    .header {
        &__section-one {
            display: flex;
            align-items: center;
            padding-right: 30px;
        }

        &__burger {
            display: inline-block;
            opacity: 1;
        }

        &__content {
            position: relative;
        }
    }


    .menu {
        position: absolute;
        z-index: 40;
        top: 0;
        left: 0;
        transform-origin: 0 0;
        transform: rotateX(-90deg);
        background-color: $yltra-light-gray;
        width: 100vw;
        height: auto;
        padding: 40px;
        gap: 30px;
        flex-direction: column;
        align-items: flex-start;

        &__list {
            flex-direction: column;
            min-width: 180px;
            background: $line-gradient;
        }

        &__submenu {
            position: relative;
        }

        &__submenu-list-item {
            text-align: center;
        }
    }

    .ac {
        border-bottom: 1px solid black;
    }

    ._active {
        opacity: 1;
        transform: translateY(0%);
        transition: all 1s;

        span {
            transform: scale(0);

            &:first-child {
                top: calc(50% - 1px);
                transform: rotate(-45deg);
            }

            &:last-child {
                top: calc(50% - 1px);
                transform: rotate(45deg);
            }
        }
    }

    // PRINTING===
    .printing {
        &__container {
            flex-direction: column;
            align-items: center;
        }

        &__content {
            max-width: 100%;
        }
    }


    // BRAND===
    .brand__partner {
        flex-wrap: wrap;
    }

    // CREATE===
    .create {
        &__container {
            gap: 40px;
        }

        &__section-desc {
            gap: 30px;
            flex-direction: column;
        }

        &__section-desc {
            h3 {
                text-align: center;
            }
        }

        &__description {
            max-width: 80%;
        }

        &__content-text {
            max-width: 50%;
        }

        &__section-desc_two {
            p {
                order: 0;
            }
        }

        &__content-text_two {
            order: 0;
        }
    }


    // IDEAS===
    .ideas {
        &__container {
            flex-direction: column;
        }

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 80%;

            h2 {
                text-align: center;
            }
        }
    }


    // T-SHITR-PRINTING===
    .t-shirt-printing {
        &__wrapper {
            flex-direction: column;
        }

        &__list-item_bg-white {
            max-width: 100%;
        }

        &__image {
            width: 100%;
        }
    }

    // TEMPLATES===
    .templates__container {
        flex-wrap: wrap;
    }

    // ================TEE-SPACE==============================
    .tee-space__container {
        flex-direction: column;
    }

    .tee-space__block-one {
        max-width: 100%;
        padding-left: 40px;
    }

    .tee-space__list {
        grid-template-columns: repeat(3, 0.3fr);
        justify-content: center;
    }
}

@media screen and (max-width:$tablet) {
    .noHover {
        pointer-events: none;
    }

    // HEADER====
    .header {
        &__delivery {
            justify-content: flex-start;
        }

        &__price,
        &__btn {
            display: none;
        }

        &__logo-delivery {
            display: block;
        }

        &__btn-inner {
            position: absolute;
            top: 40px;
            right: 20px;
        }

        &__btn-inner-tel {
            flex-direction: column;
        }

        &__number {
            p {
                color: $dark;
            }
        }

        &__section-two {
            overflow-y: auto;
            height: 0;
        }

        &__content {
            position: relative;
            z-index: 40;
            top: 0;
            left: 0;
            transform-origin: 0 0;
            transform: rotateX(-90deg);
            opacity: 0;
            transition: 0.5s;
            background: $yltra-light-gray;
            width: 100%;
            height: 0;
            padding: 40px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            overflow-x: hidden;
            gap: 30px;
        }

        &__logo_visible-768 {
            display: block;
        }

        &__logo_hidden-768 {
            display: none;
        }

        &__basket {
            background-color: $white;
        }
    }

    .menu {
        position: static;
        transform-origin: 0 0;
        transform: rotateX(0);
        background-color: transparent;
        width: 100%;
        height: auto;
        padding: 0px;
        flex-direction: column;
        align-items: flex-start;
    }


    ._full {
        transform: rotateX(0deg);
        opacity: 1;
        height: auto;
    }

    // PRINTING===
    .printing {
        h1 {
            line-height: 60px;
        }

        &__button_green {
            margin-bottom: 10px;
        }
    }

    // IDEAS===
    .ideas__container {
        gap: 30px;
    }

    // T-SHITR-PRINTING===
    .t-shirt-printing {
        &__container {
            h2 {
                text-align: center;
            }

            p {
                max-width: 80%;
            }
        }

        &__list-item {
            margin-bottom: 30px;

            &:first-child,
            &:nth-child(2) {
                margin-bottom: 30px;
            }
        }

        &__list-item_bg-white {
            max-width: 90%;
            animation-duration: 1.5s;

            a {
                min-width: 0;
                width: 100%;
            }

            p {
                min-width: 0;
                width: 100%;
            }
        }
    }

    @keyframes modified-block {
        from {
            box-shadow: none;
        }

        20% {
            box-shadow: 0 0 10px rgb(219, 244, 226);
        }

        to {
            box-shadow: 15px 15px 10px rgb(219, 244, 226);
        }
    }


    //COLLECTION===
    .collection__inner {
        h2 {
            margin-bottom: 10px;
        }

        p {
            max-width: 80%;
            margin-bottom: 40px;
        }
    }

    // ================TEE-SPACE==============================
    .tee-space__list {
        gap: 15px;
        grid-template-columns: repeat(2, 0.5fr);
    }

    // ===============resources==================
    .resources__services {
        flex-direction: column;
        align-items: center;

        img {
            max-width: 100%;
        }
    }

    .resources__inner {
        h2 {
            margin-top: 40px;
        }
    }

    .resources__inner {
        p {
            max-width: 90%;
        }
    }

    .resources__wrapper {
        gap: 50px;
    }

    // =================swiper-user-car===============
    .swiper-user-card {
        max-width: 80%;
    }

    .mySwiper-two {
        margin: 40px 0 120px 0;
    }

    .swiper-user-card {
        padding: 35px;
    }

    // ===========================movement======================
    .movement {
        &__container {
            h2 {
                max-width: 80%;
            }
        }

        &__img-inner_one {
            display: none;
        }

        &__img-inner_two {
            bottom: 0;
            left: 0;
        }

        &__img-inner_four {
            display: none;
        }

        &__img-inner_five {
            top: 0;
            right: 0;
        }

        &__img-inner_six {
            display: none;
        }
    }
}

@media screen and (max-width:$big-mobile) {

    // BRAND===
    .brand__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .create__content-text {
        max-width: 80%;
    }

    #tr-popup[data-hidden="true"] {
        display: none;
    }

    // TEMPLATES===
    .templates__inner {
        max-width: 65%;
    }

    // ================TEE-SPACE==============================
    .tee-space__list {
        grid-template-columns: 1fr;
    }

    .tee-space__block-one {
        p {
            max-width: 90%;
        }
    }

    // ==========swiper-user-car===============
    .swiper-user-card {
        max-width: 90%;
    }
}

@media screen and (max-width: $small-mobil) {
    .create__description {
        max-width: 100%;
    }

    .collection__inner {
        h2 {
            text-align: center;
        }
    }

    // TEMPLATES===
    .templates__inner {
        max-width: 80%;
    }

    .templates__inner {
        padding: 31px 0 50px 41px;
    }
}